@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    font-family: 'Varela Round', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: rgb(88, 88, 88);
}

#sheet {
    border:1px solid black;
    background-color: white;
}

canvas {
    cursor: crosshair;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#center {
    display: flex;
    justify-content: center;
}

#p1 {
    margin-left: -15px;
}

#p2 {
    margin-right: -20px;
}